{% extends sonata_block.templates.block_base %}

{% block block %}
    <div id="project-context">

        <span class="label">Vos sites :</span>
        {% if part_list is not empty %}
            <span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">
            {{ current_part.title }} 
            <i class="fa fa-angle-down"></i></span>
        {% else %}
            Aucun site
        {% endif %}

        <!-- Suggestion: populate this list with fetch and push technique -->
        <ul class="dropdown-menu">
        	{% for part in part_list %}
	    		<li>
	    			<a href="{{ url('_CorePartBundleDisplayPart', { 'part_slug': part.slug }) }}">{{ part.title }}</a>
			    </li>
			{% endfor %}

            {% if app.security.token and is_granted('ROLE_SUPER_ADMIN') %}
                <li class="divider"></li>
                <li>
                    <a href="{{ url('_CorePartBundleDisplayPart', { 'part_slug': part_admin_slug }) }}"><i class="fa fa-arrow-circle-o-right"></i> Administration</a>
                </li>
            {% endif %}
        </ul>
        <!-- end dropdown-menu-->

    </div>
{% endblock %}
