{% extends sonata_block.templates.block_base %}

{% block block %}
	
<div class="col-lg-4">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <i class="fa fa-bell fa-fw"></i> Notifications Panel
	    </div>
	    <!-- /.panel-heading -->
	    <div class="panel-body">
	        <div class="list-group">
	            <a href="#" class="list-group-item">
	                <i class="fa fa-comment fa-fw"></i> New Comment
	                <span class="pull-right text-muted small"><em>4 minutes ago</em>
	                </span>
	            </a>
	            <a href="#" class="list-group-item">
	                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
	                <span class="pull-right text-muted small"><em>12 minutes ago</em>
	                </span>
	            </a>
	            <a href="#" class="list-group-item">
	                <i class="fa fa-envelope fa-fw"></i> Message Sent
	                <span class="pull-right text-muted small"><em>27 minutes ago</em>
	                </span>
	            </a>
	            <a href="#" class="list-group-item">
	                <i class="fa fa-tasks fa-fw"></i> New Task
	                <span class="pull-right text-muted small"><em>43 minutes ago</em>
	                </span>
	            </a>
	            <a href="#" class="list-group-item">
	                <i class="fa fa-upload fa-fw"></i> Server Rebooted
	                <span class="pull-right text-muted small"><em>11:32 AM</em>
	                </span>
	            </a>
	            <a href="#" class="list-group-item">
	                <i class="fa fa-bolt fa-fw"></i> Server Crashed!
	                <span class="pull-right text-muted small"><em>11:13 AM</em>
	                </span>
	            </a>
	            <a href="#" class="list-group-item">
	                <i class="fa fa-warning fa-fw"></i> Server Not Responding
	                <span class="pull-right text-muted small"><em>10:57 AM</em>
	                </span>
	            </a>
	            <a href="#" class="list-group-item">
	                <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
	                <span class="pull-right text-muted small"><em>9:49 AM</em>
	                </span>
	            </a>
	            <a href="#" class="list-group-item">
	                <i class="fa fa-money fa-fw"></i> Payment Received
	                <span class="pull-right text-muted small"><em>Yesterday</em>
	                </span>
	            </a>
	        </div>
	        <!-- /.list-group -->
	        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
	    </div>
	    <!-- /.panel-body -->
	</div>

	{#}
	<!-- /.panel -->
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
	    </div>
	    <div class="panel-body">
	        <div id="morris-donut-chart"><svg style="overflow: hidden; position: relative; left: -0.9832763671875px; " height="357" version="1.1" width="463" xmlns="http://www.w3.org/2000/svg"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); ">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); "></defs><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " fill="none" stroke="#0b62a4" d="M231.5,295A114,114,0,0,0,339.11155310728583,218.6265018017594" stroke-width="2" opacity="0"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " fill="#0b62a4" stroke="#ffffff" d="M231.5,298A117,117,0,0,0,341.94343608379336,219.6166729018057L388.19752470008285,235.78946753589526A166,166,0,0,1,231.5,347Z" stroke-width="3"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; " fill="none" stroke="#3980b5" d="M339.11155310728583,218.6265018017594A114,114,0,0,0,129.23213383321087,130.62854429647973" stroke-width="2" opacity="1"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " fill="#3980b5" stroke="#ffffff" d="M341.94343608379336,219.6166729018057A117,117,0,0,0,126.54087419724272,129.3029796727029L78.09820074981627,105.44281644471961A171,171,0,0,1,392.9173296609287,237.4397527026391Z" stroke-width="3"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " fill="none" stroke="#679dc6" d="M129.23213383321087,130.62854429647973A114,114,0,0,0,231.4641858443382,294.9999943743255" stroke-width="2" opacity="0"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " fill="#679dc6" stroke="#ffffff" d="M126.54087419724272,129.3029796727029A117,117,0,0,0,231.46324336655763,297.9999942262815L231.44784956280827,346.9999918082284A166,166,0,0,1,82.58363347642984,107.65209081768101Z" stroke-width="3"></path><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-size: 15px; line-height: normal; font-family: Arial; " x="231.5" y="171" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" font-size="15px" font-weight="800" transform="matrix(2.0727,0,0,2.0727,-248.3364,-193.0909)" stroke-width="0.4824561403508772"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " dy="5">In-Store Sales</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-family: Arial; " x="231.5" y="191" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" font-size="14px" transform="matrix(2.375,0,0,2.375,-318.3125,-251.625)" stroke-width="0.42105263157894735"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " dy="5">30</tspan></text></svg></div>
	        <a href="#" class="btn btn-default btn-block">View Details</a>
	    </div>
	    <!-- /.panel-body -->
	</div>
	<!-- /.panel -->
	<div class="chat-panel panel panel-default">
	    <div class="panel-heading">
	        <i class="fa fa-comments fa-fw"></i>
	        Chat
	        <div class="btn-group pull-right">
	            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
	                <i class="fa fa-chevron-down"></i>
	            </button>
	            <ul class="dropdown-menu slidedown">
	                <li>
	                    <a href="#">
	                        <i class="fa fa-refresh fa-fw"></i> Refresh
	                    </a>
	                </li>
	                <li>
	                    <a href="#">
	                        <i class="fa fa-check-circle fa-fw"></i> Available
	                    </a>
	                </li>
	                <li>
	                    <a href="#">
	                        <i class="fa fa-times fa-fw"></i> Busy
	                    </a>
	                </li>
	                <li>
	                    <a href="#">
	                        <i class="fa fa-clock-o fa-fw"></i> Away
	                    </a>
	                </li>
	                <li class="divider"></li>
	                <li>
	                    <a href="#">
	                        <i class="fa fa-sign-out fa-fw"></i> Sign Out
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <!-- /.panel-heading -->
	    <div class="panel-body">
	        <ul class="chat">
	            <li class="left clearfix">
	                <span class="chat-img pull-left">
	                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
	                </span>
	                <div class="chat-body clearfix">
	                    <div class="header">
	                        <strong class="primary-font">Jack Sparrow</strong> 
	                        <small class="pull-right text-muted">
	                            <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
	                        </small>
	                    </div>
	                    <p>
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
	                    </p>
	                </div>
	            </li>
	            <li class="right clearfix">
	                <span class="chat-img pull-right">
	                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
	                </span>
	                <div class="chat-body clearfix">
	                    <div class="header">
	                        <small class=" text-muted">
	                            <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
	                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
	                    </div>
	                    <p>
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
	                    </p>
	                </div>
	            </li>
	            <li class="left clearfix">
	                <span class="chat-img pull-left">
	                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
	                </span>
	                <div class="chat-body clearfix">
	                    <div class="header">
	                        <strong class="primary-font">Jack Sparrow</strong> 
	                        <small class="pull-right text-muted">
	                            <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
	                    </div>
	                    <p>
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
	                    </p>
	                </div>
	            </li>
	            <li class="right clearfix">
	                <span class="chat-img pull-right">
	                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
	                </span>
	                <div class="chat-body clearfix">
	                    <div class="header">
	                        <small class=" text-muted">
	                            <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
	                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
	                    </div>
	                    <p>
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
	                    </p>
	                </div>
	            </li>
	        </ul>
	    </div>
	    <!-- /.panel-body -->
	    <div class="panel-footer">
	        <div class="input-group">
	            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
	            <span class="input-group-btn">
	                <button class="btn btn-warning btn-sm" id="btn-chat">
	                    Send
	                </button>
	            </span>
	        </div>
	    </div>
	    <!-- /.panel-footer -->
	</div>
	<!-- /.panel .chat-panel -->
	</div>
	{#}
	<!-- /.col-lg-4 -->
	</div>

{% endblock %}