{% for item in easyadmin_config('entities') %}
    <li class="{{ item.name|lower == app.request.get('entity')|lower ? 'active' : '' }}">
        <a href="{{ path('admin', { entity: item.name, action: 'list', view: 'list' }) }}">
            test1 - {{- item.label|trans -}}
        </a>
    </li>
{% endfor %}