<select class="form-control">
	{% for part in part_list %}
		<option value="{{ part.slug }}">{{ part.title }}</option>
	{% endfor %}
	<option disabled>--------------------------</option>
	<option value="admin">Administration</option>
</select>